<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <title>File Management</title>
</head>
<body>
<h1 class="animate__animated animate__bounce d-flex justify-content-center mt-20rem">Welcome to operating Systems</h1>
<nav class=" animate__animated animate__backInDown navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light
container shadow-lg p-3 mb-5  rounded ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul  class="animate__animated animate__fadeIn animate__delay-1s navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " th:href="@{/}">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/processor-process}">Processor and Processes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/process-sync-deadlocks}">Processor Synchronization and Deadlocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"   th:href="@{/memoryManagement}">Memory Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/fileManagement}">File Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/osSecurityAndProtection}">OS Security and Protection</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:href="@{/osSecurityAndProtectionII}">OS Security and Protection II</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/linuxBasics}">Linux Basics</a>
            </li>
        </ul>
        <span class="navbar-text">
        </span>


    </div>
</nav>

<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h1>
        File Management
    </h1>
    <a th:href="@{documents/l5op.pdf}">Lecture Notes</a>
    <p class="animate__animated animate__fadeIn animate__delay-1s">
        Computers can store information on various storage
        media, such as NVM devices, HDDs, magnetic tapes, and
        optical disks.
        <br/>
        So that the computer system will be convenient to use,
        the operating system provides a uniform logical view of
        stored information.
        <br/>
        The operating system abstracts from the physical
        properties of its storage devices to define a logical storage
        unit, the file.
        • Files are mapped by the operating system onto physical
        devices.
        <br/>
        These storage devices are usually nonvolatile, so the
        contents are persistent between system reboots and Commonly, files represent programs and data.
        Data files may be numeric, alphabetic, alphanumeric,
        or binary.
    </p>

</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h3>File Attributes</h3>
    <p>File Attribute vary from one operating systems to another: </p>
    <dl>
        <dt>Name</dt>
        <dd>The symbolic file name is the only information
            kept in human-readable form.</dd>
        <dt>Identifier</dt>
        <dd>
            : This unique tag, usually a number,
            identifies the file within the file system; it is the nonhuman-readable name for the file.        </dd>

        <dt>Type</dt>
        <dd>This information is needed for systems that support different
        types of files. </dd>
        <dt>Location</dt>
        <dd>
            This informaation is a pointer to a device to the location of the file
            on that device.
        </dd>
        <dt>Size</dt>
        <dd>
            The current size of the file (in bytes, words, or
            blocks) and possibly the maximum allowed size are
            included in this attribute
        </dd>
        <dt>Protection</dt>
        <dd>Access-controll information determins who can do reading, writting,
        executing and so on.</dd>
        <dt>Timestaps and user identification</dt>
        <dd>
            This information
            may be kept for creation, last modification, and last use.
            These data can be useful for protection, security, and
            usage monitoring.
        </dd>

    </dl>
    <h5>System calls</h5>
    <ol>
        <li><b>Creating a file </b>- There are two steps to creating a file first is
        finding of space in the file systems and then entry for the file is made
        in the directory</li>
        <li><b>Opening a file</b> - all operations except create and delete require
        a file open() first</li>
        <li><b>Writing a file </b>- To write a file, we make a system call specifying both the
            open file handle and the information to be written to the file. </li>
        <li><b>Readin a file</b> - To read from a file, we use a system call that specifies
            the file handle and where (in memory) the next block of
            the file should be put.  </li>
        <li><b>Reposistion withing a file</b> - The current-file-position pointer of the open file is
            repositioned to a given value.
            • Repositioning need not involve any actual I/O.
            • This file operation is also known as a file seek.</li>
        <li><b>Deleting a file</b>- To delete , we search the directory for the named file.
            • Having found the associated directory entry, we release
            all file space, so that it can be reused by other files, and
            erase or mark as free the directory entry</li>
        <li><b>Truncating a file</b>- The user may want to erase the contents of a file but
            keep its attributes.
            • Rather than forcing the user to delete the file and then
            recreate it, this function allows all attributes to remain
            unchanged—except for file length. </li>
    </ol>
</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h2>Access Methods</h2>
    <dl>
        <dt>1.Sequential access</dt>
        <dd>The simplest access method is sequential access.
            • Information in the file is processed in order, one record
            after the other.
            <br/>
        <img width="400" th:src="@{images/sequentiaaccess.png}" /></dd>
        <dt>2. Direct access</dt>
        <dd>
            Here, a file is made up of fixed-length logical records that
            allow programs to read & write records rapidly in no
            particular order.
            <br/>
            There are no restrictions on the order of reading or writing
            for a direct-access file.
        </dd>
    </dl>
</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h2>Selecting Directory Structure</h2>
    <p>
        When considering a particular directory structure,we need
        to keep in mind the operations that are to be performed on
        a directory:
    </p>
    <dl>
        <dt>1.Search for file</dt>
        <dd>We need to be able to search a directory structure to file
        the entry for a paticular file..</dd>
        <dt>2. Creating a file</dt>
        <dd>
            New files need to be created and added to the directory.
        </dd>
        <dt>3. Delete a file</dt>
        <dd>
            When a file is nolonger needed, we want to be able to remove it for the directory.
        </dd>
        <dt>4.List Directory</dt>
        <dd>We need to be able to list the files in a particular
        directory and the contects of the directed for each file list.</dd>

        <dt>
            5. Rename a file
        </dt>
        <dd>Users mus be able to change the name of the file.</dd>
        <dt>6. Travers the file system</dt>
        <dd>we need to access every directry and every file within a
        directory</dd>
    </dl>

</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
 <h3>Directory Structure</h3>
    <p>
        there are many schemes for defining the logical structure of a directory.
    </p>
    <dl>
        <dt>1. Single level directory</dt>
        <dd>The simplest directory structure is the single-level
            directory.
            • All files are contained in the same directory, which is
            easy to support and understand
        <br/>
            <img width="400" th:src="@{images/singleleveldirectoty.png}">
        </dd>
        <DT>2. Two-Level Directory</DT>
        <dd>
            In the two-level directory structure , each user has
            his own user file directory (UFD).
            <br/>
            <img width="400" th:src="@{images/twolevedirectory.png}"/>
            <br/>
            A major problem with this directory structure
            is that it iscolates users form each others
            files.
        </dd>
        <dt>3. Tree-Structred Deirectory</dt>
        <dd>The tree has a root directory, and every file in the system
            has a unique path name. here one bit in each
            directory defines the entry as a file or a subdirectory.
            <br/>
            <img width="400" th:src="@{images/treeleveldirectory.png}"/>
        </dd>
        <dt>Acyclic-Graph Directory</dt>
        <dd>
            In this situation, the common subdirectory should be
            shared. Thus this directory system
            allows users to share directories and files.
            <br/>
            <img width="400" th:src="@{images/acyclic.png}"/>
            <br/>
            A common way to implement shared files and directories,
            exemplified by UNIX systems, is to create a new directory
            entry called a link.
        </dd>
    </dl>

</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h3>Protection</h3>
    <p>
        When information is stored in a computer system, we
        want to keep it safe from physical damage (the issue of
        reliability) and improper access (the issue of protection)
        <br/>
        Many computers have systems programs that
        automatically (or through computer-operator
        intervention) copy disk files to tape at regular intervals
        (once per day or week or month) to maintain a copy
        should a file system be accidentally destroyed.
    </p>
    <h5>Types of Access</h5>
    <ol>
        <li>1. Read</li>
        <li>2. Write</li>
        <li>3. Execute</li>
        <li>4. Append</li>
        <li>5. Delete</li>
        <li>6. List</li>
        <li>7. Attribute Change</li>
    </ol>
    <p>
        <b>ACL-</b>Stands for access control list, this is a list
        specifying the user names and the types of access allowed
        for each user.
    </p>
    <h5>user classes</h5>
    <ol>
        <li>Owner</li>
        <li>Group</li>
        <li>Other</li>
    </ol>
</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h2>File System Structure</h2>
    1. The I/O control level consists of device drivers and
    interrupt handlers to transfer information between the
    main memory and the disk system
    <br/>
    2. The basic file system (called the “block I/O
    subsystem” in Linux) needs only to issue generic
    commands to the appropriate device driver to read and
    write blocks on the storage device.
    <br/>
    • 3. The file-organization module knows about files and
    their logical blocks. Each file’s logical blocks are
    numbered from 0 (or 1) through N.
    <br/>
    The logical file system manages metadata information.
    • Metadata includes all of the file-system structure
    except the actual data (or contents of the files).

    <img width="400" th:src="@{images/filesystemstructure.png"
</div>
<div class="animate__animated animate__backInDown container shadow-lg p-3 mb-5 bg-white rounded ">
    <h2>Allocation Methods</h2>
    <dl>
        <dt>1. Contiguous Allocation</dt>
        <dd>Contiguous allocation requires that each file occupy a
            set of contiguous block on the device.
            • Device addresses define a linear ordering on the device.</dd>
        <dt>2. Linked Allocation</dt>
        <dd>
            Here, each file is a linked list of storage blocks; the
            blocks may be scattered anywhere on the device.
            • The directory contains a pointer to the first and last
            blocks of the file.
        </dd>
        <dt>Indexed Allocation</dt>
    </dl>

</div>




<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>